.App {
  text-align: center;
}

body {
  width: 100%;
  background-color: #fff;
}
.countries-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.country-card {
  background-color: lightgrey;
  width: 250px;
  margin: 20px;
}
.country-flag {
  width: 100%;
  height: 150px;
}
header {
  background: lightgrey;
  height: 3rem;
  width: 100%;
}
input {
  margin: 0.5rem;
  background: #fff;
  height: 2rem;
  width: 20rem;
  text-align: center;
  border: 4px solid gray;
  border-radius: 10px;
}
