.App {
  text-align: center;
}

body {
  width: 1200px;
  background-color: #fff;
}
.countries-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
}
.country-card {
  background-color:lightgrey;
  width: 250px;
  margin: 20px;

}
.country-flag {
  width:250px;
  height: 150px;
}
